extends ../layout

block content
  .container
    h1.page-header= 신청정보
    table.table.table-bordered
      thead 신청목록
        tr
          th 제목
          th 도시
          th 주소
          th 체크인
          th 체크아웃
          th 숙박인원
          th 코멘트
          th 예약현황
      tbody
        each reservation in reservations
          if(reservation.master_id == currentUser.id)
            tr
              td
                a(href='/hosts/info/#{reservation.host_id}')= reservation.host_title
              td= reservation.host_location
              td= reservation.host_address
              td= reservation.checkin
              td= reservation.checkout
              td= reservation.people
              td= reservation.comment
              td
                if(reservation.confirm == 1)
                  span 예약완료
                if(reservation.confirm == 0)
                  span 예약대기중
                if(reservation.confirm == -1)
                  span 예약거절
                a.btn.btn-xs.btn-default.pos-right(href='/hosts/reservation/CANCEL/#{reservation.id}?_method=POST') 예약취소
